<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Edit</title>
  </head>
  <body>
    <h1>Edit</h1>
    <form action="/edit" method="POST">
      <input type="text" name="uid" value="{{id}}" />
      <input type="text" name="name" value="{{name}}" />
      <input type="text" name="description" value="{{email}}" />
      <input type="text" name="icon" value="{{password}}" />
      <input type="submit" value="Edit" />
    </form>
  </body>
</html>
